/*Almacenamiento en Firebase-Ventana de cargar imagen*/
body{
    display: flex;
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
    flex-direction: column;
    align-content: center;
}
.login{
    display: flex;
    align-items: center;
    flex-direction: column;  
    font-family: 'Pacifico', cursive;
    background: white;
    color: #282929;
}
.logo{
    height: 150px;
}
.sesion{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    border-radius: 10px;
    padding: 8px;
    border-color: #dee1ec45;
    width: 100%;
}
.log{
    background: transparent;
    border: 2px solid #0b8457;
    transition-duration: 0.2s;
    cursor: pointer;
    width: 50%;
}
.log:hover {
    background-color: #0b8457;
    color:white;
}
.icon{
    width: 40px;
}
#btn-registrarse{
    color: #0b8457;
}
.register-view{
    color:#fff !important;
}
.registrar{
   display: flex;
   flex-direction: column; 
   align-items: center;
   padding: 30% 0;
}
.post{
    padding: 30px;
    background-color: aliceblue;
    margin: 10px;
}
/* Registrar */
.intro{
    font-size: 13px;
}
.mensaje-error{
    color: #ff0c19;
    width: 250px;
    text-align: center;
    font-size: 12px;
    margin: 7px 0 10px;
    font-family: arial;
}
/* .info-alert{
    border: 1px solid #ff0c19;
} */

.register{
    cursor: pointer;
    padding: 7px 53px;
    font-size: 15px;
    transition: 0.3s;
    background: #164e87;
    color:#fff;
}
/*Ocultando el boton cerrar*/
.hide{
  display: none;
}

/* Perfil User Inicio*/
#datos-user{
    flex-direction: row;
    display: flex;
    align-items: center;
}
.datos{
    display: flex;
    flex-direction: column;
}
#foto {
    width: 31%;
    height: 21%;
    border: 1px solid rgb(84, 90, 88);
    border-radius: 50%;
    margin: 5%;
    display: flex;
    align-self: center;
  }
.profile-name{
    font-weight: bold;
    color:#164e87;
}
/* Perfil User*/
.perfil {
    display: flex;
    justify-content: center;
}
.perfil-contenedor {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    background: rgba(190, 20, 20, 0.37);
    width: 331px;
    height: 507px;
}
.nombre-perfil {
    text-align: center;
    font-size: x-large;
    color: blue;
    font-weight: bold;
    font-family: cursive;
}
    
@media all and (min-width: 768px) {
    .login{
        flex-direction: row;
        padding: 0px;
    }
    body{
        flex-direction: row;
        display: contents;
    }
    .sesion{
        width: 50%;
        margin-top: 0%;
    }
    .espacio{
        margin-top: 10px;
        font-family: auto;
    }
    .logoIzquierda{
        width: 50%;
        background-image: url(../src/img/travel.gif);
        height: -webkit-fill-available;
        background-repeat: no-repeat;
    }
}
