/*Almacenamiento en Firebase-Ventana de cargar imagen*/
body{
    display: flex;
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
    flex-direction: column;
    align-content: center;
}
.login{
    display: flex;
    align-items: center;
    flex-direction: column;  
    font-family: 'Pacifico', cursive;
    background: white;
    color: #282929;
}
.logo{
    height: 150px;
}
.sesion{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    border-radius: 10px;
    padding: 8px;
    border-color: #0000004f;
    width: 100%;
}
.log{
    background-color: #10316b;
    color:white;
    transition-duration: 0.2s;
    cursor: pointer;
    width: 50%;
    margin-bottom: 5%;
}
.log:hover {
    background: transparent;
    border: 2px solid #10316b;
    color: #282929;
}
.icon{
    width: 25px;
    margin-bottom: -4px;
    border-radius: 20px;
}
.not-like{
    background-image:url('https://img.icons8.com/ios/50/000000/like.png');
    background-size: cover;
}
.liked{
    background-image: url('https://img.icons8.com/officel/16/000000/hearts.png');
    background-size: cover;
}
.ojo{
    position: relative;
    width: 100%;
}
.imgojito {
    position: absolute;
    margin: 10% 0% 0 90%;
}
.register-view{
    color:#fff !important;
}
.registrar{
   display: flex;
   flex-direction: column; 
   align-items: center;
   padding: 30% 0;
}
.post{
    padding: 11px;
    margin: 9px;
    margin-right: 39px;
    border: 1px solid #070707;
}
.comentario{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #10316b;
    padding: 7px 20px 7px 20px;
}
.counter {
    cursor:pointer;
}
.like{
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 50%;
    background: rgb(122, 164, 241);
    border: 1px solid rgb(122, 164, 241);
    color: #141314;
}
/* Registrar */
.mensaje-error{
    color: #ff0c19;
    width: 250px;
    text-align: center;
    font-size: 12px;
    margin: 7px 0 10px;
}
.contrato{
    color: #686363;
    width: 250px;
    text-align: center;
    font-size: 11px;
    margin: 70px 0 10px;
}
.font{
    font-family:'Pacifico', cursive;
    font-size: 20px;
}
/* Post */
.postear{
    width: 95%;
    margin: 1%;
    padding-bottom: 9px;
    padding-top: 9px;
}
.post textarea{
    width: 100%;
    height: 100px;
    resize: none;
    border: 1px solid #5AC39B;
    padding: 7px 20px 7px 20px;
}
.comparte{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}
.user-post{
    border-radius: 3px 3px 0px 0px;
    background: rgb(58, 108, 182);
    color: #1b1116;
    font-weight: bold;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 4px;
}
.compartir{
    background:#164e87;
    height: 35px;
    border-radius: 5px;
    color: #fff;
    border: none;
    cursor:pointer;
    border-radius: 14px;
}
footer{
    margin-top: 60px;
    font-size: 11px;
}
.btn-imagen-compartir {
    display: flex;
    justify-content: space-between;
}
.img-eliminar {
    width: 35px;
    height: 31px;
}
.img-corazon {
    width: 28px;
}
.texto-publicacion {
    border: 1px solid #070707;
    display: flex;
    padding-top: 6px;
    padding-left: 3px;
}
.img-publicar{
    width: 40px;
    height: 40px;
}
.border-public {
    padding: 14px;
}
.fondo-likes {
    background: antiquewhite;
}
.ocultar {
    display: none;
}
.sin-ocultar {
    display: block;
}
.alineando-iconos {
    display: flex;
}
.text-area {
    background: white;
    border: none;
    resize: none;
    height: 6em;
    width: 500px;
}
/*Ocultando el boton cerrar*/
.hide{
  display: none;
}

/* Perfil User Inicio*/
#datos-user{
    padding-top: 28px;
}
.datos{
    display: flex;
    flex-direction: column;
    justify-content: center;
} 
.content{
    justify-content: flex-start;
    width: 90%;
    height: 50%;
    padding-top: 2%;
    margin: 0 auto;
}

#foto {
    width: 35%;
    height: auto;
    border: 1px solid rgb(84, 90, 88);
    border-radius: 50%;
    margin: 5%;
    display: flex;
    align-self: center;
  }
.profile-name{
    font-weight: bold;
    color:#164e87;
    font-size: 95%;
}
.usuario {
    border: 1px solid #070707;
    display: flex;
}
.imagen-fondo-perfil {
    border: 1px solid #070707;
    padding: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("http://www.abcdelseguro.com.pe/documents/7123564/7356644/seguro-de-viaje.jpg/d2fb0558-1b07-fce5-21c0-5ed0cccc1988?t=1546958279387");
}
/* Perfil User*/
.perfil {
    display: flex;
    justify-content: center;
}
.perfil-contenedor {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    background: #eac100bd;;
    width: 331px;
    height: 507px;
}
.nombre-perfil {
    text-align: center;
    font-size: x-large;
    color:#10316b;
    font-weight: bold;
    font-family: cursive;
}
  /*Barra de menu para web*/
header {
   width: 100vw;
   height: 64px;
   top: 0;
   left:0;
   background:#5AC39B;
   align-items: center;
   z-index: 100;
 }
 header label {
   display: none !important;
   float: right;
 }
 .logo-menu {
   float: left;
 }
 #btn-menu{
   display: none;
 }
 .menu ul {
   background: #164e87;
   display:flex;
   list-style: none;
   height: 64px;
   float: right;
   align-items: center;
   padding-left: 0px;
 }
 .menu a {
   display: block;
   padding: 19px 33px;
   color: #fff;
   font-weight: 600;
   font-size: 16px;
   text-decoration: none;
 }
 .menu a:hover {
   background:rgb(144, 165, 183);
   top: 0%;
   color: #FFFFFF;
   text-decoration: none;
 }

 /*botones*/
 .circle{
    width: 40px;
    height: 40px;
    padding: 6px 2px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid  rgb(154, 187, 245);;
 }
 /*FIN de Barra de menu para web*/
 /*Barra de menu para movil*/
 @media (max-width:768px){
     header label {
       display: block !important;
       margin: 10px 10px;
   }
   .menu {
       position: absolute;
       top: 64px;
       left:0;
       width: 100%;
       transition: all 0.5s;
       transform: translateX(-100%);
   }
   .menu a {
     border-bottom: 1px solid rgba(255, 255, 255, 0.5);
   }
   .menu ul {
       display: block;
       background: rgba(10, 10, 10, 0.9);
       width: 100%;
       height: 100vh;
   }
   #btn-menu:checked ~ .menu {
       transform: translateX(0%);
   }
   .menu-movil{
       font-size: 35px;
     }
 }
  /*estilos para desktop */
@media all and (min-width: 768px) {
    .login{
        flex-direction: row;
        padding: 0px;
    }
    .ojo{
        width: auto;
    }
    body{
        flex-direction: row;
        display: contents;
    }
    .sesion{
        width: auto;
    }
    .orden{
        margin: 0% 10%;
    }
    .logoIzquierda{
        width: 50%;
        background-image: url(../src/img/travel.gif);
        height: -webkit-fill-available;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .content{
       display: flex;
    }
}
